{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <title>Tix Tracker</title>
</head>
<body>
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <ul>
                    <li>
                        <a href="/" class="left "><img class="logo" src="https://i.imgur.com/WCExX4U.jpg" alt="Tix Tracker Logo"></a>
                    </li>
                </ul>
                <ul class="right">
                    <li><a href="{% url 'about' %}">About</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'tix_create' %}">Add Tix</a></li>
                    <li><a href="{% url 'index' %}">View all Tix</a></li>
                    <li>
                        <form action="{% url 'logout'%}">
                            <button type="submit">Log Out</button>
                        </form>
                    </li>
                    {% else %}
                    <li>
                        <form action="{% url 'signup'%}">
                            <button type="submit">Sign Up</button>
                        </form>
                    </li>                    
                    <li>
                        <form action="{% url 'login'%}">
                            <button type="submit">Log In</button>
                        </form>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <main class="container">{% block content %} {% endblock %}</main>
    <footer class="page-footer">
        <div class="center">
            All Rights Reserved, &copy; 2022 Tix Tracker &nbsp;
            <br />
            <a href="https://www.linkedin.com/in/ewdavis15/">LinkedIn</a>
            <a href="https://github.com/e-w-davis">Github</a>
        </div>
    </footer>
</body>
</html>