{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <title>Tix Tracker</title>
    </head>
    <body>
        <header class="navbar-fixed">
            <nav>
                <div class="nav-wrapper purple">
                    <ul>
                        <li>
                            <a href="/" class="left "><img class="logo" src="https://i.imgur.com/WCExX4U.jpg" alt="Tix Tracker Logo"></a>
                        </li>
                    </ul>

                    <a class='right dropdown-trigger btn indigo accent-4' href='#' data-target='dropdown1'>Menu</a>

                    <ul id='dropdown1' class="dropdown-content">
                        <li><a href="{% url 'about' %}">About</a></li>
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'tix_create' %}">Add Tix</a></li>
                        <li><a href="{% url 'index' %}">View all Tix</a></li>
                        <li><a href="{% url 'logout'%}"><button type="submit">Log Out</button></a></li>
                        {% else %}
                        <li><a href="{% url 'signup'%}"><button type="submit">Sign Up</button></a></li>                    
                        <li><a href="{% url 'login'%}"><button type="submit">Log In</button></a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>
        <main class="container">{% block content %} {% endblock %}</main>
        <footer class="page-footer purple">
            <div class="center">
                All Rights Reserved, &copy; 2022 Tix Tracker &nbsp;
                <br />
                <a href="https://www.linkedin.com/in/ewdavis15/">LinkedIn</a>
                <a href="https://github.com/e-w-davis">Github</a>
            </div>
        </footer>
        <script>
            $(document).ready(function(){
                $(".dropdown-trigger").dropdown();
            });
        </script>
    </body>
</html>
