*{
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

body > header.navbar-fixed > nav > div.nav-wrapper > ul > li > a.left > img.logo {
    max-width: 55px;
    max-height: 55px;
    margin-top: 5px;
    border-radius: 10px;
}
main {
    flex: 1 0 auto;
}

footer {
    padding-top: 0;
    text-align: center;
}