{% extends 'base.html' %} {% block content %}
<h1>Tix Details</h1>

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ tix.event_name }}</span>
                <p>Venue: {{ tix.venue }}</p>
                <p>Location: {{ tix.location }}</p>
                <p>Date: {{ tix.date }}</p>
            </div>
            <div class="card_action">
                <form action="{% url 'tix_update' tix.id %}">
                    <button type="submit">Edit</button>
                </form>
                <form action="{% url 'tix_delete' tix.id %}">
                    <button type="submit">Delete</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col s12">
        <div class="card">
            {% for photo in tix.photo_set.all %}
                <img class="responsive-img card-panel" src="{{photo.url}}">
            {% empty %}
                <div class="card-panel purple-text center-align">No Photos Uploaded</div>
            {% endfor %}
        </div>
        <form
            action="{% url 'add_photo' tix.id%}"
            enctype="multipart/form-data"
            method="POST"
            class="card-panel"
        >
            {% csrf_token %}
            <input type="file" name="photo-file" />
            <br /><br />
            <input type="submit" class="btn indigo accent-4" value="Upload Photo" />
        </form>
    </div>
</div>
{% endblock %}